main{
  text-align: center;
  margin-bottom: 60px;
}

body{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: white !important;
  background-image: url("../images/bg-img3.jpg");
  background-attachment: fixed;
}

.contato{
  margin-top: 20px;
}

.contato i{
  font-size: 20px;
  margin-right: 10px;
  color: white;
  transition-duration: 1s;
}

.contato i:hover{
  transform: scale(2.0,2.0);
}

.sobre{
  margin-top: 50px;
}

.experiencia{
  margin-top: 50px;
}

.experiencia p{
  text-align: left;
}

li{
  text-align: left;
}

.exp{
  margin-bottom: 40px;
}

.linguagens{
  margin-top: 50px;
}

.linguagens .linguagens_imgs{
  margin-top: 30px;
}

.formulario{
  margin-top: 60px;
}

textarea{
  resize: none;
  width: 459px;
  height: 198px;
}

.btn-enviar{
  margin-left: 230px;
  margin-top: 30px;
}

.html{
  transition-duration: 1s;
}

.html:hover{
  transform: scale(1.4,1.4);
}

.css{
  transition-duration: 1s;
}

.css:hover{
  transform: scale(1.4,1.4);
}

.php{
  transition-duration: 1s;
}

.php:hover{
  transform: scale(1.4,1.4);
}

.sql{
  transition-duration: 1s;
}

.sql:hover{
  transform: scale(1.4,1.4);
}

.js{
  transition-duration: 1s;
}

.js:hover{
  transform: scale(1.4,1.4);
}